/* Közös stílusok */

body{
    border: 7px dotted rgb(58, 89, 213);
    border-radius: 10px;
    background-color: #222;
    font-size: xx-large;
    border: none;
}

header {
    background-color: rgb(46, 46, 64);
}

ul p{
    margin-left: 1%;
    margin-top: 0;
}
ul div{
    padding-left: 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}

/* Címek */

h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(58, 89, 213);
    border-bottom: 7px dotted rgb(58, 89, 213);
}
h2{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
h3{
    margin-left: 10px;
    font-size: 125%;
    font-weight: bold;
    border-bottom: 7px dashed rgb(58, 89, 213);
    color: rgb(58, 89, 213)
}

/* Szöveg */

p{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    border-left: 4px solid black;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

li{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    font-size: 20px;
    color: white;
}

a:hover{
    color: rgb(93, 158, 255);
}
a{
    color: white;
    transition: color 0.3s ease-in-out;
}

/* Kezdőlap oldal */

img{
    float: right;
    border-radius: 20px;
}

a.kezdolap{
    text-decoration: none;
    font-size: 40px;
    flex: 1;
    text-align: center;
    padding: 0.5% 0;
    border-right: 2px solid black;
}

a.kezdolap:last-child{
    border-right: none;
}

div.oldal{
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(40, 67, 141);
    border-radius: 5px;
    margin: 10px;
    width: inherit;
    height: 200px;
   }
   .oldal img{
       display: block;
       margin: auto;
       width: 300px;
       height: 200px;
   }
   .oldal a{
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 110px;
       margin-bottom: 0;
       margin-left: 0;
       border-top: 5px solid rgb(35, 72, 194);
       text-decoration: none;
   }
   
/* Múzeum oldal */

#kep1{
      background-image: url("https://www.kitervezte.hu/images/epuletek/szepmuveszeti-muzeum-budapest/galeria2/szepmuveszeti-muzeum-budapest05.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}