body{
    border: 7px dotted firebrick;
    border-radius: 10px;
    background-color: rgb(255, 240, 240);
}

ul p{
    margin-left: 1%;
    margin-top: 0;
}
ul div{
    padding-left: 0;
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: firebrick;
    border-bottom: 7px dotted firebrick;
}
h2{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(102, 14, 14);
}

p{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    border-left: 4px solid black;
    border-radius: 10px;
    font-size: 20px;
}

li{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    font-size: 20px;
}

img{
    float: right;
    border-radius: 20px;
}

a.kezdolap{
    text-decoration: none;
    color: rgb(66, 0, 0);
    font-size: 40px;
    margin: auto;
    border-right: 2px solid #000;
    padding: 10px 6.76%
}
header {
    background-color: rgb(255, 220, 220);
    padding: 0px 16px;
    border: 2px solid black;
}

nav {
    
    display: flex;
    gap: 20px;

    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}