body{
    border: 7px dotted firebrick;
    border-radius: 10px;
    background-color: rgb(255, 240, 240);
}

ul p{
    margin-left: 1%;
    margin-top: 0;
}
ul div{
    padding-left: 0;
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: firebrick;
    border-bottom: 7px dotted firebrick;
}
h2{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(102, 14, 14);
}

p{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    border-left: 4px solid black;
    border-radius: 10px;
    font-size: 20px;
}

li{
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    line-height: 1.5;
    font-size: 20px;
}

img{
    float: right;
    border-radius: 20px;
}

a.kezdolap{
    text-decoration: none;
    color: rgb(66, 0, 0);
    font-size: 40px;
    flex: 1;
    text-align: center;
    padding: 0.5% 0;
    border-right: 2px solid black;
}

a.kezdolap:last-child{
    border-right: none;
}
a.muzeum:last-child{
    border-right: none;
}
header {
    background-color: rgb(255, 220, 220);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
}
#kep1{
      background-image: url("https://www.kitervezte.hu/images/epuletek/szepmuveszeti-muzeum-budapest/galeria2/szepmuveszeti-muzeum-budapest05.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#muzeum{
    background-color: #222;
    color: white;
    font-size: xx-large;
    border: none;
    
}
#muzeum h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

#muzeum2{
font-style: italic;
}


div.oldal{
 background-color: rgb(255, 200, 200);
 border: 5px solid rgb(102, 14, 14);
 border-radius: 5px;
 margin: 10px;
 width: inherit;
 height: 200px;
}
.oldal img{
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
}
.oldal a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110px;
    margin-bottom: 0;
    margin-left: 0;
    border-top: 5px solid rgb(102, 14, 14);
    text-decoration: none;
    color: rgb(66, 0, 0);
}

a:hover{
    color: rgb(255, 0, 0);
}
a{
    transition: color 0.3s ease-in-out;
}
